<a href="https://colab.research.google.com/github/YeonA-PARK/seoul_riding_ddareungyi/blob/main/%EB%94%B0%EB%A6%89%EC%9D%B4_%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#서울시 따릉이 대여량 예측 경진대회

In [8]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

In [15]:
# 데이터 불러오기
from google.colab import drive
drive.mount('/content/drive/')

train = pd.read_csv('/content/drive/MyDrive/따릉이/따릉이/train.csv')
test = pd.read_csv('/content/drive/MyDrive/따릉이/따릉이/test.csv')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [16]:
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [17]:
test.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

#### 변수설명
id : 고유 \
hour : 시간 \
temperature : 기온 \
precipitation : 비가 오지 않았으면 0, 비가 오면 1 \
windspeed : 풍속(평균) \
humidity : 습도 \
visibility : 시정(視程), 시계(視界)(특정 기상 상태에 따른 가시성을 의미) \
ozone : 오존 \
pm10 : 미세먼지(머리카락 굵기의 1/5에서 1/7 크기의 미세먼지) \
pm2.5 : 미세먼지(머리카락 굵기의 1/20에서 1/30 크기의 미세먼지) \
count : 시간에 따른 따릉이 대여 수